BOT_TOKEN=your_telegram_bot_token
API_ID=your_api_id
API_HASH=your_api_hash
ADMIN_ID=your_telegram_user_id
ADMIN_USERNAME=@YourAdminUsername
FORCE_JOIN_CHANNEL=@YourChannelUsername
MONGO_URI=mongodb+srv://user:pass@cluster.mongodb.net/
DB_NAME=osint_bot
RAPIDAPI_KEY=your_rapidapi_key_optional
RAPIDAPI_HOST=instagram-data1.p.rapidapi.com
